<VirtualHost 127.0.0.1:8080>
    ServerName {{item}}
    ServerAlias www.{{item}}

    ServerAdmin webmaster@{{item}}
    DocumentRoot /var/www/{{item}}

    <Directory /var/www/{{item}}>
        # Don't show directory index
        Options -Indexes +FollowSymLinks +MultiViews

        # Allow .htaccess files
        AllowOverride All

        # Allow web access to this directory
        Require all granted
    </Directory>

    ErrorLog /var/log/httpd/{{item}}.error.log
    CustomLog /var/log/httpd/{{item}}.access.log combined
</VirtualHost>

