server {
        listen 80;
        server_name {{item}} www.{{item}};
        access_log /var/log/nginx/{{item}}.access.log;
        error_log  /var/log/nginx/{{item}}.error.log;

	

        root /var/www/{{item}};

        include /etc/nginx/conf.d/Include/*.conf;
	
        location / {
                index index.php;
		rewrite ^ $scheme://$host/index.php? permanent;

	location ~ \.php$ {
                proxy_redirect off;
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Forwarded-Proto $scheme;
                proxy_pass http://localhost:8080;
        }

        location ~* \.(?:ico|css|js|gif|jpe?g|png)$ {
                expires 30d;
                add_header Vary Accept-Encoding;
                access_log off;
        }

        location ~ /\.ht {
                deny all;
        }
        }
	}

